a {
    display: inline-block;
    text-decoration: none;
    margin-top: 5px;
    padding: 5px 5px;
    font-size: 10px;
    font-family: sans-serif;
    color: blue;
    border-radius: 25px;
    border: 1px solid blue;
}

a:hover{
    background: #b6cbed;
}

.allUser{
    text-decoration: none;
    padding: 15px 15px;
    font-size: 12px;
    font-family: sans-serif;
    color: blue;
    border-radius: 5px;
    border: 1px solid blue;
}

table{
    border-radius: 5px;
    border-spacing: 2px;
    text-align: center;
}

td{
    border-radius: 5px;
    border: 1px solid black;
    padding: 3px; /* Поля вокруг содержимого таблицы */
}

td:hover{
    background: #b6cbed;
}