a {
    display: inline-block;
    text-decoration: none;
    margin-top: 5px;
    padding: 5px 5px;
    font-size: 10px;
    font-family: sans-serif;
    color: blue;
    border-radius: 25px;
    border: 1px solid blue;
}

a:hover{
    background: #b6cbed;
}

table{
    border-radius: 5px;
    border-spacing: 5px;
    text-align: left;
    border: 1px solid blue;
}

td{
    border-radius: 5px;
    border: 1px solid blue;
    padding: 3px; /* Поля вокруг содержимого таблицы */
}

td:hover{
    background: #b6cbed;
    cursor: pointer;
}

.oponent
{
    color: black;
    background: white;
    text-align: right;
}
.user
{
    color: black;
    background: #E8E6D1;
    text-align: left;
}